body{
    margin: 0;
    padding: 0;
}
.content{
    width: 100%;
    height: 1250px;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.671);
}
.img img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}
.texbox{
    position: absolute;
    bottom: 60%;
    left: 9%;
    color: rgba(255, 255, 255, 0.753);
    font-size: 2rem;
}
.box2 {
    display: flex;
    gap: 50px;
    margin-top: 20px;
    margin-left: 40%;
    font-size: 1.5rem;
    color: white;
}
.box3 h3{
    color: white;
    margin-top: 3%;
    margin-left: 50%;
}