body{
    margin: 0;
    padding: 0;
}
.menu {
    width: 100%;
    height: 100px;
    float: right;
    background-color: black;
    border-radius: 10px;
}

.logo img {
    width: 5%;
    height: auto;
    /* margin-top: 15px; */
    margin-left: 100px;

}

.menu-1 {
    width: 100%;
    height: 100px;

}

.menu ul {
    float: right;
    list-style-type: none;

}

.menu ul li {
    float: left;

}

.menu ul li a {
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    color: aqua;
    text-transform: uppercase;
    display: flex;

}

.menu ul li a:hover {
    background-color: hotpink;
    /* padding: 5px; */
}
.container {
    width: 100%;
    height: 1000px;
}

.slider {
    width: 100%;
    height: 800PX;
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    width: 1000px;
    height: 800px;
    border-radius: 20px;
    border: 1px solid black;
}

.image {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.image img {
    width: 100%;
}

.paragraph {
    width: 700px;
    height: 50%;
}

.paragraph-p {
    width: 80%;
    height: 60%;
    margin: 35px 65px;
}

.paragraph-p p {
    font-size: 30px;
    /* margin-top: 10px; */
}

.paragraph-p h2 {
    font-size: 30px;
    /* margin-top: 10px; */
}

.paragraph-h {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.paragraph-price {
    width: 100%;
    height: 10%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

.prev-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #959595;
}

.prev-btn:hover {
    background-color: #1A1A1A;
}

.next-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #959595;
}

.next-btn:hover {
    background-color: #1A1A1A;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.conainer1{
    width: 100%;
    height: 1200px;
    background-image: url(home\ im.jpeg);
    background-size: 100% 100%;
}

.conainer1 h5{
    color: rgb(0, 0, 0);
}
.conainer1 p{
    margin-top: 20%;
    margin-left:65% ;

}

.conainer1 h3 {
    color: rgb(0, 0, 0);
    margin-left: 65%;
    margin-top: 1%;
    font-size: 2rem;
}

.button {

    background-color: #ffffff;
    width: 100px;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 40px;
    cursor: not-allowed;
    text-align: center;
    margin-left: 65%;
    margin-top: 2%;

}
.content {
    width: 100%;
    height: 1250px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.671);
    position: relative;
}
.img img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.texbox {
    position: absolute;
    bottom: 60%;
    left: 9%;
    color: rgba(255, 255, 255, 0.753);
    font-size: 2rem;
}

.box2 {
    display: flex;
    gap: 50px;
    margin-top: 20px;
    margin-left: 40%;
    font-size: 1.5rem;
    color: white;
}

.box3 h3 {
    color: white;
    margin-top: 3%;
    margin-left: 50%;
}

.button2 {

    background-color: #ffffff;
    height: 20%;
    width: 40%;
    border: 1px solid white;
    padding: 20px 20px;
    border-radius: 40px;
    cursor: not-allowed;
    text-align: center;
    margin-left: 2%;
    color: black;
    margin-top: 20px;

}