.menu{
    width: 100%;
    height: 100px;
    float: right;
    background-color: black;
    border-radius: 10px;
}
.logo img{
    width: 5%;
    height: auto;
    margin-top: 15px;
    margin-left: 100px;

}
.menu-1{
    width: 100%;
    height: 100px;
    
}
.menu ul{
    float: right;
    list-style-type: none;

}
.menu ul li{
    float: left;
    
}
.menu ul li a{
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    color: aqua;
    text-transform: uppercase;
    display: flex;

}
.menu ul li a:hover{
    background-color:hotpink;
    /* padding: 5px; */
}
*{
    margin:0;
    padding:0;
    list-style-type:none;
}
.container{
    width:100%;
    height:600px;
    margin:auto;
}
.slider{
    width: 100%;
    height: 800PX;
    display: flex;
    transition: transform 0.5s ease;
}
.card{
    width:1000px;
    height:800px;
    border-radius:20px;
    border:1px solid black;
}
.image{
    width:100%;
    height:50%;
    display: flex;
    justify-content: center;
}
.image img{
    width: 100%;
}
.paragraph{
    width: 700px;
    height:50%;
}
.paragraph-p{
    width: 80%;
    height: 60%;
    margin:35px 65px;
}
.paragraph-p p{
    font-size: 30px;
    margin-top: 10px;
}
.paragraph-p h2{
    font-size: 30px;
    margin-top: 10px;
}
.paragraph-h{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.paragraph-price{
    width: 100%;
    height: 10%;
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    
}
.prev-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #959595;
}
.prev-btn:hover{
    background-color: #1A1A1A;
}
.next-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #959595;
}
.next-btn:hover{
    background-color: #1A1A1A;
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }